copyright = "游 Jorge Quien develop by c4p0*he4ven"
defaultContentLanguage = "es"
disableKinds = ["taxonomy"]
enableRobotsTXT = true
timeZone = "America/Argentina/Buenos_Aires"
languageCode = "es"
timeout = "120s"
title = "Jorge Quien | Artista Visual"
favicon = "images/favicon.svg"
baseURL = "https://jorgequien.com/"
description = "Exposiciones, ilustraci칩n, gr치fica, historieta, textos, publicaciones y m치s"


[markup.goldmark.renderer]
unsafe = true



[params]
  defaultTheme = "dark"
  description = "Exposiciones, ilustraci칩n, gr치fica, historieta, textos, publicaciones y m치s"
  customCSS = ["assets/css/custom.css"]
  title = "Jorge Quien | Artista Visual"
 
  [params.author]
    email = "user@example.com"
    name = "Jorge Quien"
  [params.socialIcons]
    facebook = "https://www.facebook.com/jorge.quien/"
    instagram = "https://www.instagram.com/jorgequien"
    email = "mailto:jorgequien@gmail.com"
  
  [params.gallery]
    #boxSpacing = 10
    #targetRowHeight = 288
    #targetRowHeightTolerance = 0.25

[outputs]
  home = ["HTML", "RSS"]
  page = ["HTML"]
  section = ["HTML"]

[imaging]
  quality = 75
  resampleFilter = "CatmullRom"
  [imaging.exif]
    disableDate = false
    disableLatLong = true
    includeFields = "ImageDescription|Orientation"

[module]
  [module.hugoVersion]
    min = "0.121.2"
  [[module.imports]]
    path = "github.com/nicokaiser/hugo-theme-gallery/v4"

#[menu]
#  [[menu.footer]]
#    name = "GitHub"
#    url = "https://github.com/nicokaiser/hugo-theme-gallery/"
#    weight = 3

[services]
  [services.rss]
    limit = 100
