{{ define "main" }}
  <head>
    <link rel="stylesheet" href="/themes/gallery/assets/css/theme.css"> <!-- Tema -->
    <link rel="stylesheet" href="/assets/css/custom.css"> <!-- Sobrescribe -->
  </head>




  {{ with .Params.description_image }}
  <img src="{{ . }}" alt="Description Image" class="center-image">
      {{ end }}

      {{ partial "title.html" . }}      
  <section class="galleries">
    {{ range where .Pages "Params.private" "ne" true }}
      {{ partial "album-card.html" . }}
    {{ end }}
  </section>


  {{ end }}