{{ define "main" }}
  <head>
    <link rel="stylesheet" href="/themes/gallery/assets/css/theme.css"> <!-- Tema -->
    <link rel="stylesheet" href="/assets/css/custom.css"> <!-- Sobrescribe -->
  </head>

  
  <!-- Mostrar la imagen de description_image -->
  {{ with .Params.description_image }}
    <img src="{{ . }}" alt="Description Image" class="background-container">
  {{ else }}
    <p></p>
  {{ end }}
  {{ partial "title.html" . }}  
  <section class="prose">
    {{ .Content }}
  </section>
{{ end }}