{{ define "main" }}
  <head>
    <link rel="stylesheet" href="/themes/gallery/assets/css/theme.css"> <!-- Tema -->
    <link rel="stylesheet" href="/assets/css/custom.css"> <!-- Sobrescribe -->
  </head>
  {{ partial "title.html" . }}
  {{ partial "related.html" . }}


  <div style="margin: 10px auto; text-align: center; max-width: 1800px;">
    {{ partial "gallery.html" . }}
  </div>
  {{ with .Params.description_image }}
  <div style="text-align: center;">
    <a href="#top" style="display: inline-block;">
      <img src="{{ . }}" alt="Description Image" class="description-image" style="cursor: pointer;">
    </a>
  </div>
{{ end }}
{{ end }}