{{ define "main" }}
  <head>
    <link rel="stylesheet" href="/themes/gallery/assets/css/theme.css"> <!-- Tema -->
    <link rel="stylesheet" href="/assets/css/custom.css"> <!-- Sobrescribe -->
  </head>
  {{ partial "title.html" . }}
  {{ with .Params.description_image }}
  <img src="{{ . }}" alt="Description Image" class="description-image">
{{ else }}
  <p></p>
{{ end }}
  {{ partial "gallery.html" . }}
  {{ partial "related.html" . }}
  <!-- Mostrar la imagen de description_image -->
 

  {{ with .Content }}
    <section class="prose">
      {{ . }}
    </section>
  {{ end }}
{{ end }}