/* High contrast colours
:root {
  --surface-1-light: #fff;
  --surface-2-light: #f5f5f5;
  --text-1-light: #000;
  --text-2-light: #737373;
  --border-light: #bbb;
  --surface-1-dark: #000;
  --surface-2-dark: #171717;
  --text-1-dark: #fff;
  --text-2-dark: #a3a3a3;
  --border-dark: #606060;
}
*/

/* Set maximum width for galleries to 1536px, add padding
section.gallery {
  max-width: 1536px;
  @media (min-width: 640px) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
*/

/* Larger header with circled buttons
body > header {
  padding: 1.5rem;
  .btn-square {
    background: var(--surface-2);
    border-radius: 9999px;
  }
  margin-bottom: 0;
}
*/
/* filepath: /home/user/Documents/web/dev.jorgequien.com/assets/css/style.css */



/* centrar todas las galerias 

#gallery {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  margin: 0 auto !important;
  max-width: 100% !important;
}

#gallery {
  visibility: visible !important;
  height: auto !important;
  overflow: visible !important;
}

body {
  background-color: red !important;
}
*/

/*
section.gallery #gallery {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  margin: 0 auto !important;
  max-width: 100% !important;
  visibility: visible !important;
  height: auto !important;
  overflow: visible !important;
}

*/


.center-image {
  display: block;
  margin: 0 auto;
  max-width: 50%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Escala la imagen para que se ajuste dentro del contenedor */
}

.home-image {
  display: block;
  margin: 0 auto;
  max-width: 30%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Escala la imagen para que se ajuste dentro del contenedor */
}


.bio-image {
  display: block;
  margin: 0 auto;
  max-width: 90%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Escala la imagen para que se ajuste dentro del contenedor */
}

.section-image {
  display: block;
  margin: 0 auto;
  max-width: 40%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Escala la imagen para que se ajuste dentro del contenedor */
}

.space-image {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Escala la imagen para que se ajuste dentro del contenedor */
}

.background-container {
  background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Ajusta la altura del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Cambia el color del texto para que sea visible sobre el fondo */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Agrega sombra al texto */
}


.textos-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
  min-height: auto; /* Elimina la altura mínima de la ventana */
  margin-top: 2rem; /* Agrega un margen superior para ajustar la distancia */
  padding: 0;
}
.textos-list {
 /* font-family: Arial, sans-serif; /* Cambia la fuente */
  font-size: 1.2rem; /* Ajusta el tamaño del texto */
  line-height: 1; /* Espaciado entre líneas */
  margin: 20px auto; /* Elimina márgenes adicionales */
  padding: 0; /* Elimina padding adicional */
  max-width: 600px; /* Ancho máximo del bloque */
  text-align: left; /* Centra el texto dentro del bloque */
}


.textos-list a {
  color: var(--text-1); /* Usa el color principal del texto */
  text-decoration: none; /* Elimina el subrayado */
  transition: color 0.3s ease; /* Agrega una transición suave al cambiar el color */
}

.textos-list a:hover {
  color: var(--text-2); /* Cambia al color secundario al pasar el cursor */
  text-decoration: underline; /* Opcional: subraya el enlace al pasar el cursor */
}

.container {
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  max-width: 1200px; /* Define un ancho máximo para el contenido */
  padding: 0 20px; /* Agrega espacio horizontal */
}

.description-image {
  display: block;
  margin: 0 auto;
  max-width: 20%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Escala la imagen para que se ajuste dentro del contenedor */
}

header {
  display: flex; /* Usa Flexbox para organizar los elementos */
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  height: 150px; /* Ajusta la altura del header */
  padding: 0 20px; /* Agrega espacio horizontal */
  padding-bottom: 0; /* Elimina el padding inferior */
  margin-bottom: 0;
}

.header-logo {
  flex: 1; /* Permite que el logo ocupe espacio proporcional */
  display: flex;
  justify-content: center; /* Centra el logo horizontalmente */
  align-items: center;
  margin-bottom: 0;
  
}

.header-menu {
  display: flex;
  justify-content: flex-end; /* Alinea el menú a la derecha */
  margin-left: 20px; /* Mueve el logo 20px a la derecha */
}


.btn {
  display: flex; /* Asegura que el contenido interno se alinee correctamente */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  width: 150px; /* Ajusta el ancho del botón */
  height: 150px; /* Ajusta la altura del botón */
  margin: 0 auto; /* Centra el botón dentro del contenedor */
  position: relative; /* Asegura que el contenedor respete su posición */
  margin-left: 20px; 
  
}
@font-face {
  font-family: 'jorgequienplumin';
  src: url('../fonts/JorgeQuien-pluminNew6.woff2') format('woff2'),
       url('../fonts/JorgeQuien-pluminNew6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, #menu a {
  font-family: 'jorgequienplumin', sans-serif;
}


.text-gray-italic {
  color: gray;
  font-style: italic; /* Opcional: para mantener el estilo de cursiva */
  margin-top: 0  !important;/* Espacio entre el texto y la imagen */
  margin-bottom: 20px; /* Elimina el margen inferior */
  text-align: center;
}

.text-gray {
  color: gray;
  
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegura que ocupe todo el ancho del body */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-bottom: 0; /* Elimina el margen inferior */
  padding: 0; /* Elimina el padding */
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho del body */

}

.centered-image img {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-bottom: 0; /* Elimina el margen inferior */
}