<meta property="og:url" content="{{ .Site.BaseURL }}" />

{{- with or site.Title site.Params.title | plainify }}
  <meta property="og:site_name" content="{{ . }}">
{{- end }}

{{- with or .Title site.Title site.Params.title | plainify }}
  <meta property="og:title" content="{{ . }}">
{{- end }}

{{- with or .Description .Summary site.Params.description | plainify | htmlUnescape }}
  <meta property="og:description" content="{{ trim . "\n\r\t " }}">
{{- end }}

{{- with or .Params.locale site.Language.LanguageCode }}
  <meta property="og:locale" content="{{ replace . `-` `_` }}">
{{- end }}

{{- if .IsPage }}
  <meta property="og:type" content="article">
  {{- with .Section }}
    <meta property="article:section" content="{{ . }}">
  {{- end }}
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" -}}
  {{- with .PublishDate }}
    <meta property="article:published_time" {{ .Format $ISO8601 | printf "content=%q" | safeHTMLAttr }} />
  {{- end }}
  {{- with .Lastmod }}
    <meta property="article:modified_time" {{ .Format $ISO8601 | printf "content=%q" | safeHTMLAttr }} />
  {{- end }}
{{- else }}
  <meta property="og:type" content="website">
{{- end }}

{{- if $.Resources }}
  {{- $images := $.Resources.ByType "image" -}}
  {{ $index := 0 }}
  {{ range $i, $image := $images }}
    {{ if index $image.Params "cover" }}
      {{ $index = $i }}
    {{ end }}
  {{ end }}

  {{- $image := ($.Page.Resources.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images $index) }}
  {{- with $image -}}
  <meta property="og:image" content="{{ .Permalink }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  {{- else }}
  <meta property="og:image" content="{{ .Site.BaseURL }}images/jorgeQuienURL.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  {{- end }}
{{- else }}
  <meta property="og:image" content="{{ .Site.BaseURL }}images/jorgeQuienURL.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{{- end }}