<!-- 
<div class="gallery">
  {{ $folder := .Get "folder" }}
  {{ range readDir (printf "static/images/historieta/%s" $folder) }}
    <div class="gallery-item">
      <img src="/images/historieta/{{ $folder }}/{{ .Name }}" alt="{{ .Name }}">
    </div>
  {{ end }}
</div>
-->
<div class="gallery">
  {{/* Parámetros */}}
  {{ $section := .Get "section" | default "historieta" }} <!-- Sección por defecto -->
  {{ $folder := .Get "folder" }} <!-- Carpeta obligatoria -->

  {{/* Ruta completa */}}
  {{ $ruta := printf "static/images/%s/%s" $section $folder }}
  
  {{/* Cargar imágenes */}}
  {{ range readDir $ruta }}
    {{ if in .Name ".jpg" ".jpeg" ".png" ".webp" }}
      <div class="gallery-item">
        <img 
          src="/images/{{ $section }}/{{ $folder }}/{{ .Name }}" 
          alt="{{ .Name }}"
          loading="lazy"
        >
      </div>
    {{ end }}
  {{ end }}
</div>
